body {
    background-color: #0b0b0b;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 40px;
}

.title {
    text-align: center;
    font-size: 45px;
    color: #ff2e2e;
    margin-bottom: 40px;
    text-shadow: 0px 0px 12px red, 0px 0px 18px #ff1a1a;
}

/* Input Box Container */
.input-box {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input Field Styled Box */
.input-field {
    width: 100%;
    padding: 14px;
    border: 2px solid #ff1a1a;
    border-radius: 10px;
    background: #1a1a1a;
    color: white;
    font-size: 17px;
    outline: none;
    box-shadow: 0px 0px 10px #ff0000a8;
    transition: 0.3s;
}

.input-field:focus {
    background: #262626;
    box-shadow: 0px 0px 15px red;
}

/* Summarize Button */
.summarize-btn {
    width: 50%;
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #ff1a1a;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.summarize-btn:hover {
    background-color: #ff3333;
    transform: scale(1.07);
}

.section {
    margin-top: 45px;
}

.content-box {
    background: #161616;
    border-left: 5px solid red;
    padding: 18px;
    border-radius: 10px;
    margin-top: 10px;
    line-height: 1.7;
    color: #d1d1d1;
    box-shadow: 0px 0px 12px #ff000066;
}

.error {
    color: #ff5c5c;
    text-align: center;
    margin-bottom: 15px;
}

/* Download Button */
.download {
    margin-top: 20px;
    width: 100%;
    padding: 12px 20px;
    background: #e60000;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.download:hover {
    background: #ff1a1a;
    transform: scale(1.05);
}